*{
  margin:2px;
  padding:2px;
  box-sizing: border-box;
}
.logo{
  width:50px;
}
.header{
  display: flex;
  justify-content: space-between;
}
.items{
  display: flex;

}
.items >li{
  list-style: none;
  padding: 10px;
}
.items1>li{
  list-style: none;
}